<tool name="RideClient">  <version>0.6.0</version>  <date>2020-03-23</date>  <container>#.RideClient</container>  <needs>    <script>APLTreeUtils</script>    <script>FilesAndDirs</script>    <script>OS</script>    <script>APLProcess</script>    <script development="true">Tester2</script>  </needs>  <autoload>1</autoload>  <scriptOnly>1</scriptOnly>  <lx></lx>  <buildid>6</buildid>  <package>1</package></tool>